<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Zot Trending!</title>
  </head>
  <body>
    <div class="container-fluid">
        <h3 class="row m-1" style="color:#ff4500">Reddit</h3>
        <div class="row my-3">
            <div class="col-3">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ redditPosts[0].title }}</h5>
                        <p class="card-subtitle mb-2 text-muted">{{ redditPosts[0].author }}</p>
                        <p class="card-text">{{ redditPosts[0].selftext[:300] + ' ...' }}</p>
                        <p><small>{{redditPosts[0].comments[0].body}}</small></p>
                        <a target="_blank" href="https://www.reddit.com{{redditPosts[0].permalink}}" class="card-link">LINK</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card w-100" style="width: 18rem; max-height: 500px; text-overflow: ellipsis; overflow: hidden;">
                    <div class="card-body">
                        <h5 class="card-title">{{ redditPosts[1].title }}</h5>
                        <p class="card-subtitle mb-2 text-muted">{{ redditPosts[1].author }}</p>
                        <p class="card-text">{{ redditPosts[1].selftext[:300] + ' ...' }}</p>
                        <p><small>{{redditPosts[1].comments[0].body}}</small></p>
                        <a target="_blank" href="https://www.reddit.com{{redditPosts[1].permalink}}" class="card-link">LINK</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ redditPosts[2].title }}</h5>
                        <p class="card-subtitle mb-2 text-muted">{{ redditPosts[2].author }}</p>
                        <p class="card-text">{{ redditPosts[2].selftext[:300] + ' ...' }}</p>
                        <p><small>{{redditPosts[2].comments[0].body}}</small></p>
                        <a target="_blank" href="https://www.reddit.com{{redditPosts[2].permalink}}" class="card-link">LINK</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ redditPosts[3].title }}</h5>
                        <p class="card-subtitle mb-2 text-muted">{{ redditPosts[3].author }}</p>
                        <p class="card-text">{{ redditPosts[3].selftext[:300] + ' ...' }}</p>
                        <p><small>{{ redditPosts[3].comments[0].body}}</small></p>
                        <a target="_blank" href="https://www.reddit.com{{redditPosts[3].permalink}}" class="card-link">LINK</a>
                    </div>
                </div>
            </div>

        </div>

        <h3 class="row m-1" style="color:#0084b4">Twitter</h3>
        <div class="row my-3">
            <div class="col-3">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ trendingTwitter[0].name }}</h5>
                        <a href="{{ trendingTwitter[0].URL}}" class="card-subtitle mb-2 text-muted">LINK</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ trendingTwitter[1].name }}</h5>
                        <a href="{{ trendingTwitter[1].URL}}" class="card-subtitle mb-2 text-muted">LINK</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ trendingTwitter[2].name }}</h5>
                        <a href="{{ trendingTwitter[2].URL}}" class="card-subtitle mb-2 text-muted">LINK</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ trendingTwitter[3].name }}</h5>
                        <a href="{{ trendingTwitter[3].URL}}" class="card-subtitle mb-2 text-muted">LINK</a>
                    </div>
                </div>
            </div>

        </div>

        <h3 class="row m-1" style="color:#ff0000">Youtube</h3>
        <div class="row my-3">
            <div class="col-3">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ yt_titles[0] }}</h5>
                        <p class="card-text">{{ yt_descs[0][:300] + "..." }}</p>
                        <a target="_blank" href="{{ yt_links[0]}}" class="card-link">LINK</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ yt_titles[1] }}</h5>
                        <p class="card-text">{{ yt_descs[1][:300] + "..." }}</p>
                        <a target="_blank" href="{{ yt_links[1]}}" class="card-link">LINK</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ yt_titles[2] }}</h5>
                        <p class="card-text">{{ yt_descs[2][:300] + "..." }}</p>
                        <a target="_blank" href="{{ yt_links[2]}}" class="card-link">LINK</a>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card w-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ yt_titles[3] }}</h5>
                        <p class="card-text">{{ yt_descs[3][:300] + "..." }}</p>
                        <a target="_blank" href="{{ yt_links[3]}}" class="card-link">LINK</a>
                    </div>
                </div>
            </div>

        </div>




    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
